@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    transition: all 0.3s ease-in-out;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f14119;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #f14119;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #f14119;
  }
}
